* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
}

.container {
  display: flex;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.image-section {
  width: 80%;
  background-image: url(../images/cat-background.jpg);
  background-position: center;
  background-size: 150vh;
  position: relative;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  width: 100%;
  position: absolute;
  bottom: 30vh;
}

.logo img {
  width: 100px;
}

.logo p {
  font-family: Lilita One, sans-serif;
  font-size: 4rem;
  color: #aee1df;
  align-self: center;
}

.credits {
  position: absolute;
  bottom: 1vh;
  width: 100%;
}

.credits > p {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

.form-section {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
}

.intro {
  padding: 0 3em;
}

.intro > p {
  margin-bottom: 2em;
  max-width: 75ch;
}

legend {
  margin-bottom: 0.5em;
}

.input-section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  margin-bottom: 3em;
  padding: 1em 3em;
  background-color: #ffffff;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}

.input-section > div > p {
  font-size: 0.6rem;
  color: red;
}

legend {
  flex-basis: 100%;
}

form div {
  flex-basis: 50%;
}

label {
  font-size: 0.7rem;
  color: #7d7d7d;
}

input {
  padding: 0.3em 1em;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
}

input:focus {
  outline: 1.5px solid #aee1df;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: #b3b3b3;
}

input:invalid {
  outline: 1.5px solid red;
}

.submit-form {
  padding: 0 3em;
}

.submit-form a {
  color: #76b7b5;
}

button {
  margin-bottom: 1.5em;
  background-color: #aee1df;
  border: none;
  border-radius: 5px;
  padding: 1em 3em;
  font-weight: 700;
  font-size: 0.9rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

form p {
  margin-top: 0.5em;
  font-size: 0.9rem;
}

@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .image-section {
    height: 15em;
    width: 100%;
    background-image: url(../images/cat-background.jpg);
    background-position: 10% 40%;
    background-size: 100%;
    position: relative;
    margin-bottom: 3em;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding: 0.25em;
    width: 100%;
    position: absolute;
    bottom: 20px;
  }

  .logo img {
    width: 50px;
  }
  
  .logo p {
    font-family: Lilita One, sans-serif;
    font-size: 2rem;
    color: #aee1df;
    align-self: center;
  }

  .credits {
    position: absolute;
    bottom: 1px;
    right: 10px;
    width: 100%;
  }
  
  .credits > p {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 0.7rem;
    text-align: right;
  }

  .intro {
    padding: 0 4em;
  }

  .input-section {
    flex-direction: column;
    padding: 2em 4em;

  }

  input {
    width: 100%;
  }

  .submit-form {
    padding: 0 4em 3em 4em;
  }

  button {
    width: 100%;
  }
}